@page "/Clases/Editar/{Id:int}"
@inject NavigationManager navegar
@inject HttpClient http
@using Actividad_18.Shared.Models


<h3>Editar Clase</h3>

<EditForm Model="lasclases" OnValidSubmit="cambiar">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label for="txtNombr" class="form-label">Nombre</label>
        <InputText id="txtNombre" class="form-control" @bind-Value="lasclases.Nombre" />
    </div>
    <div class="mb-3">
        <label for="numPeso" class="form-label">Fecha</label>
        <InputDate id="numPeso" class="form-control" @bind-Value="lasclases.Fecha" />
    </div>
    <div class="mb-3">
        <label for="numMts" class="form-label">Encargado</label>
        <InputText id="numMts" class="form-control" @bind-Value="lasclases.Encargado" />
    </div>
    <div class="mb-3">
        <label for="numCm" class="form-label">Id del Cliente</label>
        <InputNumber id="numCm" class="form-control" @bind-Value="lasclases.ClientesId" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</EditForm>


@code {
    [Parameter]
    public int Id { get; set; }
    private Clases lasclases = new Clases();

    protected override async Task OnInitializedAsync()
    {
        lasclases = await http.GetFromJsonAsync<Clases>($"api/Clases/{Id}");
    }
    private async void cambiar()
    {
        await http.PutAsJsonAsync($"api/Clases/{Id}", lasclases);
        navegar.NavigateTo("/ClasesT");
    }
}
